.paginationButton {
  font-family: horror;
  font-size: 38px;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  color: #34a632;
  background-color: transparent;
  transition: all 0.2s;
}

.paginationButton:hover {
  filter: brightness(0.9);
}

.paginationButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
