.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contentCard {
  color: #16acc9;
  border: 1px solid wheat;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke-width: 0.5px;
  gap: 10px;
  -webkit-text-stroke-color: #c8d24a;
  font-size: 16px;
  font-weight: 500;
  min-width: 300px;
  flex: 1 1;
  box-shadow: 0px 0px 5px 2px #1d4c4d;
}

.containerDesc {
  width: 80%;
  margin: 0 auto;
}

.desc {
  font-size: 50px;
  font-family: horror;
  padding: 50px 0;
  background: #16acc9;
  background: linear-gradient(to right, #16acc9 5%, #c6d04b 15%, #34a632 27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  font-style: normal;
}

.desc p {
}

.imgCard {
  width: 100%;
}

.imgCard img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list {
  padding-bottom: 10px;
  padding-left: 10px;
}

.list li {
  padding: 10px 0;
}
