@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 80px;
}

.contentCard {
  color: #16acc9;
  border: 1px solid wheat;
  border-radius: 8px;
  flex-direction: column;
  -webkit-text-stroke-width: 0.5px;
  gap: 10px;
  -webkit-text-stroke-color: #c8d24a;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 5px 2px #1d4c4d;
}

.containerDesc {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
}

.desc {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.desc p {
  font-size: 30px;
  font-family: "Neucha", cursive;
  padding: 50px 0;
  line-height: 1em;
  color: #7dc290;
  font-style: normal;
}

.title {
  font-size: 50px;
  font-family: horror;
  padding: 50px 0;
  background: linear-gradient(to right, #16acc9 43%, #c6d04b 50%, #34a632 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

.imgCard {
  width: 100%;
}

.imgCard img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list {
  padding-bottom: 10px;
  padding-left: 10px;
}

.list li {
  padding: 10px 0;
}

@media screen and (min-width: 891px) and (max-width: 1380px) {
  .desc:nth-child(3) {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .title {
    padding: 80px 0;
  }
}

@media (max-width: 891px) {
  .desc:nth-child(2) p {
    padding: 0px;
  }
}

@media (max-width: 320px) {
  .container {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
